<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
</head>
<body>
<main class="flex-shrink-0" layout:fragment="content">
    <div class="container">
        <h1 class="mt-5">Dashboard</h1>
        <div class="row">
            <div class="col">
                Today manager earn: <span class="badge bg-primary" th:text="${managerEarn}"></span>
            </div>
            <div class="col">
                <a th:href="@{/pay-day-balance}" class="btn btn-warning">Pay Employee Day Balance</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Balance on day</th>
                    <th></th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}">username</td>
                    <td th:text="${user.balance}">0</td>
                    <td>
                        <a class="btn btn-sm btn-info"
                           th:href="@{/transactions/user/{id}/day(id = ${user.id})}">Show Day transaction</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>