<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<main class="flex-shrink-0" layout:fragment="content">
    <div class="container">
        <h1 class="mt-5">Add a new task</h1>
        <div class="row">
            <div class="col">
                <form th:object="${task}" th:action="@{/task}" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" th:errorclass="is-invalid"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            Invalid title
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>